@model AboutPageViewModel

<section class="wrap page-link">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xl-1">
            </div>
            <div class="col-sm-12 col-xl-10">
                <div class="row">
                    @Html.DisplayFor(x=>x.PageBody)
                </div>
            </div>
            <div class="col-sm-12 col-xl-1">
            </div>
        </div>
    </div>
</section>

