@model FormPageViewModel

<div class="wrap">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-1 order-2 order-lg-1"></div>

            <div class="col-lg-10 order-1 order-lg-2">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="wysiwyg with-drop-cap">
                            <h5>@Html.PropertyFor(x=>x.PageBody)</h5>
                        </div>
                    </div>
                    <div class="col-xl-4"></div>
                </div>
            </div>

            <div class="col-lg-1 order-2 order-lg-1"></div>
        </div>
        <div class="row justify-content-center">
            @Html.PropertyFor(x=>x.FormArea)

            @*{
                var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
                if (Model.FormArea != null && Model.FormArea.Items.Any())
                {
                    foreach (var contentItem in Model.FormArea.Items)
                    {
                        var item = contentLoader.Get<BlockData>(contentItem.ContentLink);
                        // output necessary properties from content instance
                        <div>test: @item.ContentTypeID</div>
                    }
                }
            }*@
        </div>
    </div>    
</div>
