@model MediaBlock

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">            
            @Html.PropertyFor(x=>x.Image)
        </div>
    </div>
</div>